.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 7px;
    padding-right: 7px;
}

.panel {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.chart-item-bg {
    margin-bottom: 14px;
    border-radius: 5px;
}

.chart-item-bg .chart-label {
    position: relative;
}

.crm-top-row {
    margin-top: 1.5%;
}

.crm-left-col {
    padding-left: 15px;
}

.crm-right-col {
    padding-right: 15px;
}

.crm-less-col {
    width: 43%;
}

.crm-more-col {
    width: 57%;
}

.crm-echarts-panel-height {
    height: 280px;
}

.crm-left-echarts-div {
    width: 440px;
}

.crm-right-echarts-div {
    width: 600px;
}

.crm-center-vertical {
    transform: translateY(100%);
}

.crm-message-col {
    padding-left: 25px;
    padding-right: 25px;
}

.crm-message-header {
    font-size: 14px;
    line-height: 14px;
}

.crm-message-body {
    font-size: 12px;
    line-height: 16px;
}

.crm-message-body-height {
    height: 180px;
}

.crm-widget {
    border: 1px solid #F0F0F0;
    border-top: 4px solid #3B90FF;
    border-radius: 4px;
}

.crm-more-click-div a {
    font-size: 12px;
    color: #666666;
}

.xe-widget.xe-status-update {
    background: #FFFFFF;
    color: #333333;
    padding: 10px;
    padding-top: 15px;
}

.xe-widget.xe-status-update .xe-body li p {
    font-size: 14px;
    color: #333333;
}

.xe-widget.xe-status-update .xe-footer a {
    color: #333333;
}